<main>
  <img [src]="product.image" (click)="openDetails()">

  <section class="info" (click)="openDetails()">
    <label>Nome</label>
    <div>{{product.name}}</div>
  </section>

  <section class="info" (click)="openDetails()">
    <label>Quantidade</label>
    <div >{{product.quant}}</div>
  </section>

  <section class="info" (click)="openDetails()">
    <label>Valor</label>
    <div>R$ {{product.oldPrice}}</div>
  </section>

  <section class="info" (click)="openDetails()">
    <label>Desconto</label>
    <div>{{product.promo}}</div>
  </section>

  <img id="remove" src="/assets/img/cancel.png" (click)="removeProduct()">
    
</main>