<main>
  <img [src]="product.image" height="200">

  <div class="info">
    <div>Nome:</div>
    <label>{{product.name}}</label>
  </div>

  <div class="info">
    <div>Quantidade:</div>
    <label >{{product.quant}}</label>
  </div>

  <div class="info">
    <div>Valor:</div>
    <label>R$ {{product.oldPrice}}</label>
  </div>

  <div class="info">
    <div>Desconto:</div>
    <label>{{product.promo}}</label>
  </div>

  <div class="info">
    <div>Código de Barras:</div>
    <label>Código de barras</label>
  </div>

  <div class="info">
    <div>Fabricante:</div>
    <label>Fabricante</label>
  </div>

  <div class="info">
    <div>Categoria:</div>
    <label>Categoria</label>
  </div>
    
</main>