<h3>Alterar Desconto</h3>
<main>
    <h5>Categoria</h5>
    <div>
      <label><input type="radio" name="categoria" value="medicamentos"> Medicamentos</label>
      <label><input type="radio" name="categoria" value="cosmeticos"> Cosméticos</label>
      <label><input type="radio" name="categoria" value="higiene"> Higiene Pessoal</label>
      <label><input type="radio" name="categoria" value="alimento"> Alimento</label>
    </div>
    <h5>Desconto</h5>
    <div>
      <label><input type="radio" name="desconto" value="0"> 0%</label>
      <label><input type="radio" name="desconto" value="10"> 10%</label>
      <label><input type="radio" name="desconto" value="25"> 25%</label>
      <label><input type="radio" name="desconto" value="50"> 50%</label>
    </div>
    <input id="button" type="submit" value="Aplicar">
</main>
