<h3>Alterar Desconto</h3>
<hr>
<main>
  <form #form ="ngForm" novalidate>
    <div id="inline">
      <div>  
        <h5>Categoria</h5>
        <select  name="categoria" ngModel required>
          <option value="1">Medicamento</option>
          <option value="2">Higiene Pessoal</option>
          <option value="4">Alimento</option>
          <option value="3">Cosmetico</option>
        </select>
      </div>
      <div>
        <h5>Desconto</h5>
        <select  name="desconto" ngModel required>
          <option value="1">0% - Sem desconto</option>
          <option value="2">10% - Bom desconto</option>
          <option value="3">25% - Ótimo desconto</option>
          <option value="4">50% - Super desconto</option>
        </select>
      </div>
    </div>
    

    <button [disabled]="!form.valid"  
        class="bg-blue dim link w-80 pv2 br2 bn white f6"
        [ngClass]="{'disable':!form.valid}" 
        (click)="aplica(form.value)">
      APLICAR
    </button>
      
  </form>
</main>
