main {
    padding-top: 4px;
    padding-bottom: 4px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5%;
    border-bottom: 1px solid gainsboro;
    padding-left: 30px;
    padding-right: 30px;
}

main:hover{
    background-color: gainsboro;
    transform: scale(1.03);
    border-radius:3px;
}

img{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
    min-width: 70px;
}

section{
    align-self: center;
    text-align: center;
}

label{
    font-size: 13px;
    opacity: 0.5;
}

#cancel{
    height: 40px;
    min-width: 40px;
    align-self: center;
    margin-left: 8px;
}

#cancel:active{
    transform: scale(1.06);
}