
<main>
    <header *ngIf="products.length">
        <h4 id="nome">Nome</h4>
        <h4 id="qtd"> qtd Preço</h4>
    </header>
    <app-item-cart *ngFor="let product of products" (change)="getVal()" [(product)] = product></app-item-cart>
    <footer *ngIf="products.length">
        <div id="total">
                <h1 id="totalT">Total: </h1>
                <h1 id="valor">R$ {{valorTotal}}</h1>
        </div>
        
        <button class="link grow pv2 br2">RESERVAR</button>
    </footer>
</main> 
<div id="warning" *ngIf="!products.length">
        <img src="assets/img/no-shopping-cart.png">
        <h4>Sem itens no carrinho!</h4>
</div>
