
<a class="grow" [routerLink]="['/product',product.id]">

  <div class="absolute top-0 right-1 imgb w3 h3 pt4" *ngIf="isPromo()">
    <label class="fw9 f7 white">{{getPromo()}}%</label>
  </div>

  <img [src]="product.produto.caminhoImagem" height="180">
  
  <div class="absolute bottom-0 left-0 w-100">
  
    <h4 class="mb0">{{product.produto.nome}}</h4>
    <label class="f6 gray db mb3">{{product.produto.nomeFabricante}}</label>
    
    <div *ngIf="isAvailable()">
      <label class="f6 gray db ml--2 mb0" *ngIf="isPromo()">de <s>R$ {{getOldPrice()}}</s></label>
      <h2 class="dark-blue" ngClass="ml--2:product.promo">
        <span class="f6 gray" *ngIf="isPromo()">por: </span>R$ {{getNewPrice()}}
      </h2>

      <div class="bg-blue link w-100 pv2 br4 br--bottom bn white visi">
        RESERVAR
      </div>
    </div>
    
    <div class="mb5" id="indis" *ngIf="!isAvailable()">
      <h6>Produto indisponível.</h6>
      <img id="sad" src="assets/img/sad.png">
    </div>

  </div>
   
</a>
