.w6 {width: 20rem;}

.shadow-1 {box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.050);}

.grow:active {transform: scale(1.03);}

.visi {visibility: hidden;}

.item:hover .visi {visibility: visible;}
  
.h6 {height: 25rem;}

.ml--2 {margin-left: -2rem;}