main{
    padding: 20px;
}

img{
    align-self: center;
    height: 130px;
    margin-right: 20px;
    /*border: 1px solid gainsboro;*/
    float: left;
}

section{
    align-self: center;

}

label{
    font-size: 13px;
    opacity: 0.5;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
