<main>
  <div>
    <img [src]="product.image">
  </div>

  <div id="info">
    <section>
      <label>Nome</label>
      <div>{{product.name}}</div>
    </section>
  
    <section>
      <label>Quantidade</label>
      <div >{{product.quant}}</div>
    </section>
  
    <section>
      <label>Valor</label>
      <div>R$ {{product.oldPrice}}</div>
    </section>
  
    <section>
      <label>Desconto</label>
      <div>{{product.promo}}</div>
    </section>

    <section>
        <label>Fabricante</label>
        <div>{{product.promo}}</div>
    </section>

    <section>
        <label>Codigo de Barras</label>
        <div>{{product.promo}}</div>
    </section> 
    
    <section>
        <label>Desconto</label>
        <div>{{product.promo}}</div>
    </section>
  </div>

</main>