<main>
  <div>
    <img [src]="product.caminhoImagem">
  </div>

  <div id="info">
    <section>
      <label>Nome</label>
      <div>{{product.nome}}</div>
    </section>
  
    <section>
      <label>Valor</label>
      <div>R$ {{product.preco}}</div>
    </section>
<!--   
    <section>
      <label>Desconto</label>
      <div>{{product.categoria.desconto.id|json}}</div>
    </section> -->

    <section>
        <label>Fabricante</label>
        <div>{{product.nomeFabricante}}</div>
    </section>

    <section>
        <label>Codigo</label>
        <div>{{product.id}}</div>
    </section> 
  </div>

</main>