main{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    font-family: sans-serif;

}

app-lot-list-item{
    grid-column: 2;
}

img {
    margin-left: 35%;
    height: 50px;
    align-self: center;
    border: 2px solid gainsboro;
    border-radius: 50px;
    padding: 5px;
}

img:hover{
    background-color: gainsboro;
}

img:active{transform: scale(1.03);}
