<main>
  <h3>
    Adicionar Produto
  </h3>
  <div>
    <label>
      Nome
    </label>
    <input type="text" name="nome">
  </div>

  <div>
    <label>
      Quantidade
    </label>
    <input type="number" name="quantidade">
  </div>

  <div>
    <label>
      Valor
    </label>
    <input type="text" name="valor">
  </div>
  
  <div>
  <label>
    Fabricante
  </label>
  <input type="text" name="fabricante">
  </div>
  
  <div>
  <label>
    Categoria
  </label>
  <select>
    <option value="medicamento">Medicamento</option>
    <option value="higiene">Higiene Pessoal</option>
    <option value="alimento">Alimento</option>
    <option value="cosmetico">Cosmetico</option>
  </select>
  </div>
</main>
