.w6 {width:16rem;}

.h6 {height: 25rem;}

.ml--2 {margin-left: -2rem;}

.pt4 { padding-top: 17px}

#mainp{
    font-family: sans-serif;
    width: 100vw; 
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.192);
    margin-top: 3rem;
    display: flex;
}

#img-h{
    height: 420px;
}

.infop{
    align-self: center;
}
