.w6 {width:16rem;}

.h6 {height: 25rem;}

.ml--2 {margin-left: -2rem;}

.pt4 { padding-top: 17px}

#mainp{
    width: 100vw; 
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.192);
    margin-top: 3rem;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 2fr 2fr 2fr;
}

#img-h{
    height: 22rem;
}

.infop{
    align-self: center;
}
