* {
    padding: 0;
    margin: 0;
}


main {
    background-color: #31b0d5;

    /*#afd9ee;
    /** #337ab7;*/

}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    
    padding-left: 25%;
    padding-right: 25%;
    color: white;

}

.tipo{
    font-weight: 600;

}
.tipo:hover{
    text-decoration: underline;
    text-decoration-color: white;
}