<main>
  <img src="/assets/img/medicamento.png">
  <section>
    <div> {{lot.product.name}} </div>
  </section>
  <section>
    <label  class="info">Qtd</label>
    <div>{{lot.product.quant}}</div>
  </section>
  <section>
    <label  class="info">GTIN</label>
    <div>{{lot.gtin}}</div>
  </section>
  <section>
    <label  class="info">Validade</label>
    <div>{{lot.validade}}</div>
  </section>
  <section>
    <label  class="info">Situação</label>
    <div>{{situacao()}}</div>
  </section>
  <img id="remove" src="assets/img/cancel.png">
</main>
