main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 170px;
    gap: 3px;
    margin-top: 3px;
    
}

app-product-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 160px;
}