<main>
    <h3>
      Adicionar Lote
    </h3>
    
    <div>
      <label>
        GTIN
      </label>
      <input type="text" name="usuario">
    </div>
  
    <div>
      <label>
        Quantidade
      </label>
      <input type="text" name="produtos">
    </div>
    
    <div>
      <label>
        Validade
      </label>
      <input type="date" name="data">
    </div>

    <div>
      <label>
        Produto
      </label>
      <input type="text" name="data">
    </div>
    <div>
      <input type="submit" value="Adicionar" id="submit">
    </div>
    
  </main>
  